%table
  %tr
    %td= @name
    %td= @rating
  %tr
    %td= @artist
    %td= @album
  %tr
    %td= @time
    %td= @genre
  %tr
    %td{ :id => 'status' }= link_to_remote 'Play', :url => { :controller => 'remote', :action => 'play', :track => @name }, :update => 'status'