%table
  %tr
    %td= @name
    %td= @rating
  %tr
    %td= @artist
    %td= @album
  %tr
    %td= @time
    %td= @genre
  %tr
    %td{ :colspan => 2 } Actions
  %tr
    %td{ :id => 'status' }= link_to_remote 'Play / Pause', :url => { :controller => 'remote', :action => 'pause' }, :update => 'status'